html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: "OpenSans";
  src: url("/fonts/OpenSansCondensed-Bold.ttf");
  src: url("/fonts/OpenSansCondensed-Light.ttf");
  src: url("/fonts/OpenSansCondensed-LightItalic.ttf");
}
@font-face {
  font-family: "OpenSans-Light";
  src: url("/fonts/OpenSans-Light.ttf");
}
@font-face {
  font-family: "OpenSans-Bold";
  src: url("/fonts/OpenSans-Bold.ttf");
}

